environment:
  VisualStudioVersion: 8.0
  global:
    # This will be used as part of the zipfile name
    # TODO change the project name
    PROJECT_NAME: lonlat_bng
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci\\run_with_env.cmd"
  # TODO feel free to delete targets/channels you don't need
  matrix:
    # Stable channel
    # - TARGET: i686-pc-windows-msvc
    #   CHANNEL: stable
    # - TARGET: x86_64-pc-windows-msvc
    #   CHANNEL: stable
    # - TARGET: x86_64-pc-windows-gnu
    #   CHANNEL: stable
    # - TARGET: i686-pc-windows-gnu
    #   CHANNEL: stable
    # Beta channel
    - TARGET: i686-pc-windows-gnu
      CHANNEL: nightly
    - TARGET: x86_64-pc-windows-gnu
      CHANNEL: nightly
    # Nightly channel
    # - TARGET: i686-pc-windows-msvc
    #   CHANNEL: nightly
    - TARGET: x86_64-pc-windows-gnu
      CHANNEL: stable

# Install Rust and Cargo
# (Based on https://github.com/rust-lang/libc/blob/master/appveyor.yml)
install:
  - curl -sSf -o rustup-init.exe https://win.rustup.rs
  - rustup-init.exe --default-host %TARGET% --default-toolchain %CHANNEL% -y
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin;C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin
  - ps: ls C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin
  - rustc -Vv
  - cargo -V

# ???
build: false

# Equivalent to Travis' `script` phase
# TODO modify this phase as you see fit
test_script:
  - cargo test
  - cargo rustc --release -- -C link-args=-Wl,--out-implib,lonlat_bng.a
  - "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\dumpbin.exe" /exports foo.dll

artifacts:
  # Archive the generated packages in the ci.appveyor.com build report.
  - path: staging

before_deploy:
  # Generate artifacts for release
  # build artifacts for generating a .def, needed by the MinGW Python build
  - cargo rustc --release -- -C link-args=-Wl,--out-implib,lonlat_bng.a
  - ps: ls target\release
  - dlltool -z target\release\lonlat_bng.def --export-all-symbols target\release\lonlat_bng.dll
  - ps: ls target\release
  - mkdir staging
  # TODO update this part to copy the artifacts that make sense for your project
  - copy target\release\lonlat* staging
  - cd staging
    # release zipfile will look like 'rust-everywhere-v1.2.3-x86_64-pc-windows-msvc'
  - 7z a ../%PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%TARGET%.zip *
  - appveyor PushArtifact ../%PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%-%TARGET%.zip

deploy:
  appveyor_repo_tag: true
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: $(APPVEYOR_REPO_TAG_NAME)
  description: 'Binaries'
  provider: GitHub
  auth_token:
    secure: 7fxhCWnrrkw0Qg2VVMBgwmN72e1T+4BMzO8SFMf63VCwyLMJv4N8KFfs3Zi7H2NB
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
    CHANNEL: nightly

branches:
  only:
    - master
    - /v\d\.\d\.\d/
